*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
HCR_App/.idea/gradle.xml
HCR_App/.idea/gradle.xml
HCR_App/.idea/misc.xml
.idea/codeStyles/Project.xml
.idea/hcr_app.iml
.idea/modules.xml
.idea/vcs.xml
HCR_App/.idea/misc.xml
HCR_App/.idea/misc.xml
